@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-image: linear-gradient(#edf3f4, #f1f1f1);
}

main {
  background: rgba(0, 0, 0, 0.6) url("./image/bg-header.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
main h2 {
  padding-top: 190px;
  font-size: 3rem;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.719);
  font-weight: 450;
}
main p {
  margin: 1rem 0 10rem 0;
  font-size: 18px;
  line-height: 1.5;
  text-shadow: 0px 6px 9px rgba(0, 0, 0, 0.85);
}

header {
  /* background-color: #262626; */
  background-color: #1F7A8C;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.5);
}

li {
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
}

.navbar {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
  /* margin-left: 730px; */
}
.nav-branding {
  font-size: 2rem;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.519);
}
.nav-link {
  transition: 0.7s ease;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.519);
}
.nav-link:hover {
  color: #fff;
  font-size: 25px;
  
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navbar {
    
    padding: 0 2rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: #1f7a8cba;  

    width: 100%;
    text-align: center;
    transition: 0.3s;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }
  nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
    height: 250;
    padding: 50px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.5);
    
  }
}

section {
  width: 500px;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.5);
  margin: 10px auto;
  cursor: pointer;
  transition: 0.4s;
  font-size: 13px;
  flex-wrap: wrap;
}
section:hover {
  background-color: #effffa;
  
}

article {
  display: flex;
  flex-wrap: wrap;
  margin: 10 auto;
  margin-bottom: 15px;
}
.help{
  padding: 30px;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 22px;
  /* color: #255F85; */
  color: #465a9a;
}
.satu {
  background-color: #dae3e4ea;
}
.dua {
  background-color: #e1eff6;
}
.tiga {
  background-color: #b7d1da;
}
.empat {
  background-color: #e2e8dd;
}
.lima {
  background-color: #d0cdd7;
}
.enam {
  background-color: #acb0bd;
}
.tujuh {
  background-color: #e1eff6;
}
.delapan {
  background-color: #b7d1da;
}
footer {
  background-color: #437f97;
  text-align: center;
  box-shadow: 0 1px 9px 0 rgb(0 0 0 / 0.5);
  color: #fffffb;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
  line-height: 1.5;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 15px;
  width: 100%;
}

footer h4 {
  padding-top: 9px;
  color: rgb(255, 255, 255);
  
}
.email {
  padding-bottom: 9px;
}

@media screen and (max-width="765px") {
  header h2 {
    font-size: 0.8rem;
  }

  header h2 {
    padding-top: 200px;
  }
  button {
    margin: 2rem 0;
  }
}
